@model FancyWeb.Models.Washing
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="offset-2 col-10">
        <h2 style="color:blue; width:400px;">洗滌方式新增</h2>
    </div>
</div>
<div class="container">
    <hr />
    @using (Html.BeginForm("Create", "Washing", new { area = "Backend" }, FormMethod.Post, new { novalidate = "novalidate" }))
    {
        @*@Html.HiddenFor(p => p.CategoryMID)*@

        <div class="form-group row">
            @Html.LabelFor(p =>p.WashingName, new { @class = "col-sm-2 col-form-label", style = "text-align:right;" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.WashingName, new { htmlAttributes = new { @class = "form-control", placeholder = "輸入中分類名稱" } })
                @Html.ValidationMessageFor(p => p.WashingName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-4 col-sm-8">
                <input type="submit" value="存檔" class="btn btn-success" />
            </div>
        </div>
    }
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        @Html.ActionLink("返回", "Index", "Washing", new { area = "Backend" }, null)
    </div>
</div>





