@using PagedList;
@using PagedList.Mvc;

@model IPagedList<FancyWeb.Models.Size>

@{
    ViewBag.Title = "尺吋大小維護";
}

@*<p>@Request.Cookies["mesg"].Value</p>*@
<div class="container">
    <div class="row">
        <div class="col-3">
            <h2 style="color:blue;">尺吋大小維護</h2>
        </div>
        <div class="col-3">
            <a href="~/Backend/Size/Create" class="btn btn-warning" style="margin:10px">新增</i></a>
        </div>
        <div class="col-3">
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(p => p.First().SizeID)</th>
                <th>@Html.DisplayNameFor(p => p.First().SizeName)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(p => item.SizeID)</td>
                    <td>@Html.DisplayFor(p => item.SizeName)</td>
                    <td><a href="~/Backend/Size/Edit/@item.SizeID" class="btn btn-primary">修改</a></td>
                    <td><a href="~/Backend/Size/Delete/@item.SizeID" class="btn btn-danger" onclick="return confirm('確定要刪除嗎?')">刪除</a></td>
                </tr>
            }
        </tbody>
    </table>


    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

</div>