@model FancyWeb.Areas.Backend.ViewModels.ActivityEditViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 style="color:blue;">活動內容更改</h4>
        </div>
    </div>

    <div>
        @using (Html.BeginForm("Edit", "Activity", new { area = "Backend", page = TempData["savepage"] }, FormMethod.Post, new { novalidate = "novalidate" }))
        {
            @Html.HiddenFor(p => p.ActivityID)
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(p => p.ActivityID)</th>
                        <th>@Html.DisplayNameFor(p => p.ActivityName)</th>
                        <th>@Html.DisplayNameFor(p => p.BeginDate)</th>
                        <th>@Html.DisplayNameFor(p => p.EndDate)</th>
                        <th>@Html.DisplayNameFor(p => p.DiscountName)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(p => p.ActivityID)</td>
                        <td>
                            @Html.EditorFor(p => p.ActivityName, new { htmlAttributes = new { @class = "form-control", placeholder = "輸入活動名稱" } })
                        </td>
                        <td>
                            @Html.EditorFor(p => p.BeginDate, new { htmlAttributes = new { @class = "form-control", placeholder = "輸入生效日期(起)" } })
                        </td>
                        <td>
                            @Html.EditorFor(p => p.EndDate, new { htmlAttributes = new { @class = "form-control", placeholder = "輸入生效日期(迄)" } })
                        </td>
                        <td>
                            @{
                                var discounts = new SelectList(ViewBag.datas, "DiscountID", "DiscountName");
                            }
                            @Html.DropDownListFor(p => p.DiscountID, discounts, "請選擇", new { @class = "form-control" })
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group row">
                <div class="offset-sm-4 col-sm-8">
                    <input type="submit" value="存檔" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
    <div class="py-3"></div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4 style="color:blue;">活動商品明細</h4>
            </div>
            <div class="col-6">
                @Html.ActionLink("返回", "Index", "Activity", new { area = "Backend", page = TempData["savepage"] }, null)
            </div>
        </div>
    </div>
    <div style="height:300px; overflow:scroll;">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(p => p.producstList.First().ProductID)</th>
                    <th>@Html.DisplayNameFor(p => p.producstList.First().ProductName)</th>
                    <th>@Html.DisplayNameFor(p => p.producstList.First().CategoryMSName)</th>
                    <th>@Html.DisplayNameFor(p => p.producstList.First().SupplierName)</th>
                    <th>@Html.DisplayNameFor(p => p.producstList.First().PhotoID)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.producstList)
                {
                    <tr>
                        <td>@Html.DisplayFor(p => item.ProductID)</td>
                        <td>@Html.DisplayFor(p => item.ProductName)</td>
                        <td>@Html.DisplayFor(p => item.CategoryMSName)</td>
                        <td>@Html.DisplayFor(p => item.SupplierName)</td>
                        <td>
                            <img src="@Url.Action("GetImageByte","AddStock",new { id=item.PhotoID})" class="card-img-top" style="width:60px;height:60px">
                        </td>
                        <td><a href="~/Backend/Activity/DeleteProd/?actid=@(item.ActivityID)&prodid=@(item.ProductID)&page=@(TempData["savepage"])" class="btn btn-danger" onclick="return confirm('確定要刪除嗎?')">刪除</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>



