@model FancyWeb.Areas.Backend.ViewModels.CategorySViewModel
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="offset-2 col-10">
        <h2 style="color:blue; width:400px;">小分類新增</h2>
    </div>
</div>
<div class="container">
    <hr />
    @using (Html.BeginForm("Create", "CategoryS", new { area = "Backend" }, FormMethod.Post, new { novalidate = "novalidate" }))
    {
        @*@Html.HiddenFor(p => p.CategorySID)*@
        @Html.HiddenFor(p => p.CategoryMID)

        <div class="form-group row">
            @Html.LabelFor(p => p.CategoryMName, new { @class = "col-sm-2 col-form-label", style = "text-align:right;" })
            <div class="col-sm-10">
                @Html.DisplayFor(p => p.CategoryMName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.CategorySName, new { @class = "col-sm-2 col-form-label", style = "text-align:right;" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.CategorySName, new { htmlAttributes = new { @class = "form-control", placeholder = "輸入小分類名稱" } })
                @Html.ValidationMessageFor(p => p.CategorySName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row">
            <div class="offset-sm-4 col-sm-8">
                <input type="submit" value="存檔" class="btn btn-success" />
            </div>
        </div>
    }
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        @Html.ActionLink("返回", "Index", "CategoryS", new { area = "Backend", page = TempData["savepage"], catemid = TempData["savecatemid"] }, null)
    </div>
</div>





