@using PagedList;
@using PagedList.Mvc;

@model IPagedList<FancyWeb.Areas.Backend.ViewModels.CategorySViewModel>

@{
    ViewBag.Title = "小分類維護";
}

@section styles{
    <style>
        .xxx {
            width: 100px;
        }
    </style>
}
@*<p>@Request.Cookies["mesg"].Value</p>*@
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h2 style="color:blue;">小分類維護</h2>
            </div>
            <div class="col-3">
                <a id="create" href="~/Backend/CategoryS/Create/?catemid=@TempData["savecatemid"]" class="btn btn-warning" style="margin:10px">新增</i></a>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(p => p.First().CategoryMName)</th>
                            <th>@Html.DisplayNameFor(p => p.First().CategorySID)</th>
                            <th>@Html.DisplayNameFor(p => p.First().CategorySName)</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(p => item.CategoryMName)</td>
                                <td>@Html.DisplayFor(p => item.CategorySID)</td>
                                <td>@Html.DisplayFor(p => item.CategorySName)</td>
                                <td><a href="~/Backend/CategoryS/Edit/?id=@item.CategorySID&catemid=@item.CategoryMID" class="btn btn-primary">修改</a></td>
                                <td><a href="~/Backend/CategoryS/Delete/?id=@item.CategorySID&catemid=@item.CategoryMID" class="btn btn-danger" onclick="return confirm('確定要刪除嗎?')">刪除</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, catemid = TempData["savecatemid"] }), PagedListRenderOptions.ClassicPlusFirstAndLast)

            </div>
            <div class="col-3">
                <h4 style="color:saddlebrown;">中分類</h4>
                <div id="cateM"></div>
            </div>
        </div>
    </div>

@section scripts{
<script>
        $.getJSON('@Url.Action("CategoryMJson", "CategoryS", new { Area = "Backend" })', function (datas) {
            var docFrag = $(document.createDocumentFragment());
            $.each(datas, function (idx, categoryM) {
                var eleA = $('<a></a>').attr('data-cid', categoryM.CategoryMID).addClass('list-group-item list-group-item-action').text(categoryM.CategoryMName)
                docFrag.append(eleA);
            });

            $('#cateM').html(docFrag).on('click', 'a', function () {
                var cmid = $(this).data('cid');
                window.location.href = (`@Url.Action("Index", "CategoryS", new { Area = "Backend" })/?catemid=${cmid}`);
            });
        });
</script>

}

