
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/_LayoutPlugin/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="~/Content/_LayoutPlugin/css/style.css" rel="stylesheet" />
    <link href="~/Content/_LayoutPlugin/css/Bounce.css" rel="stylesheet" />
    <link href="~/Content/_LayoutPlugin/css/Fancy.css" rel="stylesheet" />
    <link href="~/Content/_LayoutPlugin/animsition/css/animsition.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Areas/Management/Plugin/Semantic-UI-CSS-master/semantic.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <style>
        #navcart {
            overflow: auto;
            max-height: 22rem;
        }

        #navcaution {
            overflow: auto;
            max-height: 48rem;
        }

        #cautionlist td * {
            color: black;
        }

        #cautionlist td:hover {
            background-color: rgba(0,0,0,.05);
        }

        .dropdown-menu td {
            text-align: start;
        }
    </style>
    @RenderSection("styles", false)
</head>
<body class="animsition">
    <header>
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3 d-flex justify-content-center align-items-center">
                        <div class="header-logo">
                            <a href="@Url.Action("Index", "Home", new { area = "HomePage" })" class="logo">
                                <img width="200px" src="~/img/Logo.png" />
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6 text-center">
                        <div class="header-search">
                            <div id="fset">
                                <fieldset>
                                    <input class="Search-input" type="search" />
                                    <button class="Search-button"><i class="fa fa-search fa-search-con"></i></button>
                                </fieldset>
                            </div>
                            <div class="trend" id="keywords">
                            </div>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 d-flex justify-content-center">
                        <div class="header-ctn d-flex justify-content-between align-items-center">
                            <!-- 我的收藏 -->
                            <div class="dropdown caution">
                                <a href="#" data-toggle="dropdown" aria-expanded="true">
                                    <i class="far fa-comment-dots"></i>
                                    <span>通知</span>
                                    <div class="qty" id="cautionqty">0</div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menumy2" style="min-width: 400px;z-index: 9999">
                                    <div class="px-4 py-3" id="navcaution">
                                        <h6>所有通知</h6>
                                        <table class="table text-black mb-md-0" id="cautionlist">
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- 購物車 -->
                            <div class="dropdown cart">
                                <a href="" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>購物車</span>
                                    @*<div class="qty">3</div>*@
                                    <div class="qty" id="cartqty">0</div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menumy2" style="min-width: 400px;z-index: 9999">
                                    <div class="px-4 py-3" id="navcart">
                                        <h6>已選擇商品</h6>
                                        <table class="table text-black" id="cartlist">
                                            <tbody></tbody>
                                        </table>
                                        <a class="btn btn-primary btn-block" id="check" href="~/CheckProcess/Check/Detail">結帳</a>
                                    </div>
                                </div>
                            </div>
                            <!-- 使用者 -->
                            @{
                                if (Request.Cookies["IsLogin"] != null)
                                {
                                    <div class="User-toggle dropdown">
                                        <div class="rounded-circle" style="width:50px; height:50px; cursor:pointer; " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @if (Request.Cookies["userimg"] != null)
                                            {
                                                <img class="img-thumbnail rounded-circle"
                                                     src="@Request.Cookies["userimg"].Value">
                                            }
                                            else
                                            {
                                                <img class="img-thumbnail rounded-circle"
                                                     src="@Url.Action("GetImageByte", "Detail", new { area = "Members", id = Request.Cookies["upid"].Value })">
                                            }
                                        </div>
                                        <div class="dropdown-menu dropdown-menumy dropdown-menu-right" style="min-width: 300px;z-index: 9999">
                                            <a class="dropdown-item" href="#">
                                                @if (Request.Cookies["userimg"] != null)
                                                {
                                                    <img class="img-thumbnail rounded-circle"
                                                         src="@Request.Cookies["userimg"].Value">
                                                }
                                                else
                                                {
                                                    <img class="img-thumbnail rounded-circle"
                                                         src="@Url.Action("GetImageByte", "Detail", new { area = "Members", id = Request.Cookies["upid"].Value })">
                                                }
                                                <span class="badge badge-primary" style="background-color: #007bff;"></span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="@Url.Action("Account", "Detail", new { area = "Members", ad = "det" })"><i class="fas fa-user fa-lg"></i>基本資料</a>
                                            <a class="dropdown-item" href="@Url.Action("Account", "Detail", new { area = "Members", ad = "ord" })"><i class="far fa-list-alt fa-lg"></i>訂單查詢</a>
                                            <a class="dropdown-item" href="@Url.Action("Account", "Detail", new { area = "Members", ad = "favo" })"><i class="far fa-heart fa-lg"></i>我的收藏</a>
                                            <a class="dropdown-item" href="@Url.Action("Index", "Rating", new { area = "Rating"})"><i class="far fa-star fa-lg"></i>商品評價</a>
                                            <a class="dropdown-item" href="@Url.Action("Account", "Detail", new { area = "Members", ad = "chang" })"><i class="far fa-question-circle fa-lg"></i>修改密碼</a>
                                            @if (Request.Cookies["isadmin"] != null)
                                            {
                                                <a class="dropdown-item" href="@Url.Action("Index", "Dashboard", new { area = "Management" })"><i class="fas fa-columns fa-lg"></i>後台管理</a>
                                            }
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="@Url.Action("Logout", "Login", new { area = "Members", })"><i class="fas fa-sign-out-alt fa-lg"></i>登出</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        @Html.ActionLink("登入", "Index", "Login", new { area = "Members" }, new { @class = "btn btn-success" })
                                    </div>
                                }
                            }
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>項目</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <nav id="navigation" class="sticky-top">
        <!-- container -->
        <div class="container d-flex justify-content-center text-center">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav flex-md-row text-white">
                    <li class="active"><a href="@Url.Action("Browse", "Product", new { area = "ProductDisplay", id = 1 })">衣料品</a></li>
                    <li><a href="@Url.Action("Browse", "Product", new { area = "ProductDisplay", id = 2 })">下半身</a></li>
                    <li><a href="@Url.Action("Browse", "Product", new { area = "ProductDisplay", id = 5 })">配件</a></li>
                    <li><a href="#">洋裝</a></li>
                    <li><a href="#">包包</a></li>
                    <li><a href="#">熱門商品</a></li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /responsive-nav -->
    </nav>
    @if (ViewContext.RouteData.DataTokens["area"].ToString() == "HomePage")
    {
        @RenderBody()
    }
    else
    {
        <div id="Main" class="my-container my-5">
            @RenderBody()
        </div>
    }
    <footer id="footer">
        <!-- top footer -->
        <div class="section text-center">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="footer">
                            <h3 class="footer-title">關於我們</h3>
                            <ul class="footer-links">
                                <li><a href="#">關於 Fancy</a></li>
                                <li><a href="#">隱私權保護政策</a></li>
                                <li><a href="#">服務條款</a></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="clearfix"></div> -->
                    <div class="col-md-4 ">
                        <div class="footer">
                            <h3 class="footer-title">聯絡我們</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut.
                            </p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>台北市 合順街</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>099999999</a></li>
                                <li><a href="#"><i class="fas fa-envelope"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer">
                            <h3 class="footer-title">顧客服務</h3>
                            <ul class="footer-links">
                                <li><a href="#">出換貨說明</a></li>
                                <li><a href="#">發票說明</a></li>
                                <li><a href="#">客服中心</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
    </footer>
    <ul class="social-media-container">
        <li class="social-media Line">
            <i class="fab fa-line"></i>
            <a href="#">分享</a>
        </li>
        <li class="social-media twitter">
            <i class="fab fa-twitter"></i>
            <a href="#">分享</a>
        </li>
        <li class="social-media facebook">
            <i class="fab fa-facebook-f"></i>
            <a href="#">分享</a>
        </li>
    </ul>
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <span class="fas fa-angle-up"></span>
        </span>
    </div>
    <!-- <div id="container">
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world">
            Tweet</a>
    </div> -->
    <script src="~/Content/_LayoutPlugin/js/jquery.min.js"></script>
    <script src="~/Content/_LayoutPlugin/js/bootstrap.min.js"></script>
    <script src="~/Content/_LayoutPlugin/animsition/js/animsition.min.js"></script>
    <script src="~/Content/_LayoutPlugin/js/Fancy.js"></script>
    <script src="~/Areas/HomePage/Plugin/scrollreveal.min.js"></script>
    <!-- <script src="https://platform.twitter.com/widgets.js"></script> -->
    @if (Request.Cookies["IsLogin"] != null)
    {
        if (Request.Cookies["isService"] == null)
        {
            <div class="clayout">
                @{Html.RenderAction("Index", "Chat", new { area = "Backend" });}
            </div>
        }
    }
    <script>
        $.post("@Url.Action("UserName", "Detail", new { area = "Members" })", function (datas) {
            $("span.badge.badge-primary").text(datas);
            console.log(datas)
        });
        if (sessionStorage.clliid) {
            let area = "@ViewContext.RouteData.DataTokens["area"].ToString()";
            if (area != "ProductDisplay") {
                $("#navigation .main-nav li").removeClass("active");
            } else {
                $($("#navigation .main-nav li")[sessionStorage.clliid]).addClass("active").siblings().removeClass("active");
            }
        } else {
            console.log("")
        }

        $("#navigation .main-nav li").on("click", function () {
            sessionStorage.clliid =$(this).index();
        });

        function getcaution() {
            $.getJSON("@Url.Action("LoadCaution", "Product", new { area = "ProductDisplay" })", function (datas) {
                console.log(datas)
                if (datas.notice != "nocaution")
                    generatecaution(datas);
                else
                    $('#navcaution>h6').text('目前沒有通知');
            }
        )};

        function generatecaution(datas) {
            let Docfrag = $(document.createDocumentFragment());
            let count = datas.unread;
            let order = '/Members/Detail/Account?ad=ord';
            $.each(datas.notice, function (index, caution) {
                let date = $('<h5></h5>').text(`${caution.NoticeDate}`);
                let comment = $('<p></p>').html(`<a>${caution.Comment}</a>`);
                let all = $(`<a href=${order}></a>`).append([date, comment]);
                let td = $('<td></td>').append(all);
                if (caution.IsRead == false)
                    td.css('background-color', 'rgb(237, 242, 250)');
                let item = $(`<tr data-nid=${caution.NoticeID}></tr>`).append(td);
                Docfrag.append(item);
            });
            $('#cautionqty').text(count);
            $('#cautionlist>tbody').html(Docfrag);

            $('#cautionlist tr').click(function () {
                let nid = $(this).data('nid');
                console.log(nid)
                 $.post(`@Url.Action("ReadByNoticeId", "Product", new { area="ProductDisplay"})/${nid}`, function (datas) {
                    if (datas != "notmember") {
                        $('#cautionqty').text(datas);
                    }
                })
        });
        }

        getcaution();

        function getcart() {
            $.getJSON("@Url.Action("LoadCart", "Product", new { area = "ProductDisplay" })", function (datas) {
                console.log(datas)
                if (datas != "")
                    generatecart(datas);
                else
                    $('#navcart>h6').text('目前購物車中無商品');
            }
        )};

        function generatecart(datas) {
            let count = 0;
            let Docfrag = $(document.createDocumentFragment());
            $.each(datas, function (index, cart) {
                let url = `/ProductDisplay/Product/GetProductDetail/${cart.ProductID}?colorid=${cart.ColorID}`;
                let name = $('<td></td>').html(`<a style="color:black" href=${url}>${cart.ProductName}</a>`);
                let color = $('<td></td>').text(cart.ColorName);
                let size = $('<td></td>').text(cart.SizeName);
                let qty = $('<td></td>').text(`${cart.OrderQTY}件`);
                count += cart.OrderQTY;

                let price;
                if (cart.SUnitPrice > 0) {
                    price = $('<td></td>').text(`$${cart.SUnitPrice}`);
                }
                else {
                    price = $('<td></td>').text(`$${cart.UnitPrice}`);
                }
                let item = $('<tr></tr>').append([name, color, size, qty, price])
                Docfrag.append(item);
            });
            $('#cartqty').text(count);
            $('#cartlist>tbody').html(Docfrag);
        }
        getcart();


        window.addEventListener("pageshow", function (event) {
            var historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                //window.location.reload();
                getcart();
            }
        });

        function search() {
            let keyword = $('.Search-input').val();
            let url = `@Url.Action("Result", "Search", new { area = "ProductDisplay" })/?keyword=${keyword}`;
            location.href = url;
        }

        $('#fset .Search-button').click(function () {
            if ($('.Search-input').val() != "" )
            search();
        })

        $.get("@Url.Action("GetKeyWord", "Search", new { area = "ProductDisplay" })", function (datas) {
            let doc = $(document.createDocumentFragment());
            $.each(datas, function (index, word) {
                let url = `@Url.Action("Result", "Search", new { area = "ProductDisplay" })/?keyword=${word.Keyword1}`;
                let keyword = $('<a></a>').text(word.Keyword1).attr('href', url).appendTo(doc);
            })
            $('#keywords').append(doc);
        })

        $(document).on("click", ".click_updown", function () {
            $(".clayout").toggleClass("active");
        })

    </script>
    @RenderSection("scripts", false)
</body>
</html>