@using PagedList;
@using PagedList.Mvc;

@model IPagedList<FancyWeb.Models.Color>

@{
    ViewBag.Title = "顏色維護";
}

@*<p>@Request.Cookies["mesg"].Value</p>*@
<div class="container">
    <div class="row">
        <div class="col-3">
            <h2 style="color:blue;">顏色維護</h2>
        </div>
        <div class="col-3">
            <a href="~/Backend/Color/Create" class="btn btn-warning" style="margin:10px">新增</i></a>
        </div>
        <div class="col-3">
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(p => p.First().ColorID)</th>
                <th>@Html.DisplayNameFor(p => p.First().ColorName)</th>
                <th>@Html.DisplayNameFor(p => p.First().R)</th>
                <th>@Html.DisplayNameFor(p => p.First().G)</th>
                <th>@Html.DisplayNameFor(p => p.First().B)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(p => item.ColorID)</td>
                    <td>@Html.DisplayFor(p => item.ColorName)</td>
                    <td>@Html.DisplayFor(p => item.R)</td>
                    <td>@Html.DisplayFor(p => item.G)</td>
                    <td>@Html.DisplayFor(p => item.B)</td>
                    <td><a href="~/Backend/Color/Edit/@item.ColorID" class="btn btn-primary">修改</a></td>
                    <td><a href="~/Backend/Color/Delete/@item.ColorID" class="btn btn-danger" onclick="return confirm('確定要刪除嗎?')">刪除</a></td>
                </tr>
            }
        </tbody>
    </table>


    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

</div>