@model FancyWeb.Areas.Backend.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="offset-2 col-10">
        <h2 style="color:blue; width:400px;">商品新增</h2>
    </div>
</div>
<div class="container">
    <hr />
    @using (Html.BeginForm("Create", "Product", new { area = "Backend" }, FormMethod.Post, new { novalidate = "novalidate" }))
    {
        @*@Html.HiddenFor(p => p.ProductID)*@
        
        <div class="form-group row">
            @Html.LabelFor(p => p.ProductName, new { @class = "col-sm-2 col-form-label", style = "text-align:right;" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.ProductName, new { htmlAttributes = new { @class = "form-control", placeholder = "輸入商品名稱" } })
                @Html.ValidationMessageFor(p => p.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.Desctiption, new { @class = "col-sm-2 col-form-label", style = "text-align:right;" })
            <div class="col-sm-10">
                @Html.TextAreaFor(p => p.Desctiption, new { @class = "form-control", placeholder = "輸入商品描述" })
                @Html.ValidationMessageFor(p => p.Desctiption, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.UnitPrice, new { @class = "col-sm-2 col-form-label", style = "text-align:right;" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.UnitPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "輸入單價" } })
                @Html.ValidationMessageFor(p => p.UnitPrice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.CategorySID, new { @class = "col-sm-2 col-form-label", style = "text-align:right;" })
            <div class="col-sm-10">
                @{
                    var cateMS = new SelectList(ViewBag.categories, "CategorySID", "CategoryName");
                }
                @Html.DropDownListFor(p => p.CategorySID, cateMS, "請選擇", new { @class = "form-control"})
                @Html.ValidationMessageFor(p => p.CategorySID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.SupplierID, new { @class = "col-sm-2 col-form-label", style = "text-align:right;" })
            <div class="col-sm-10">
                @{
                    var sup = new SelectList(ViewBag.suppliers, "SupplierID", "SupplierName");
                }
                @Html.DropDownListFor(p => p.SupplierID, sup, "請選擇", new { @class = "form-control"})
                @Html.ValidationMessageFor(p => p.SupplierID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.ProductInDate, new { @class = "col-sm-2 col-form-label", style = "text-align:right;" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.ProductInDate, new { htmlAttributes = new { @class = "form-control", placeholder = "輸入上架日期" } })
                @Html.ValidationMessageFor(p => p.ProductInDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.ProductOutDate, new { @class = "col-sm-2 col-form-label", style = "text-align:right;" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.ProductOutDate, new { htmlAttributes = new { @class = "form-control", placeholder = "輸入下架日期" } })
                @Html.ValidationMessageFor(p => p.ProductOutDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row">
            <div class="offset-sm-4 col-sm-8">
                <input type="submit" value="存檔" class="btn btn-success" />
            </div>
        </div>
    }
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        @Html.ActionLink("返回", "Index", "Product", new { area = "Backend", page = @TempData["savepage"] }, null)
    </div>
</div>





