@model FancyWeb.Areas.Backend.ViewModels.StockListViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="offset-2 col-10">
        <h2 style="color:blue; width:400px;">商品補貨</h2>
    </div>
</div>
<div class="container">
    <hr />
    @using (Html.BeginForm("Edit", "AddStock", new { area = "Backend" }, FormMethod.Post, new { novalidate = "novalidate" }))
    {
        @Html.HiddenFor(p => p.StockID)
        <div class="form-group row">
            @Html.LabelFor(p => p.ProductName, new { @class = "col-sm-2 col-form-label", style = "text-align:right" })
            <div class="col-sm-10">
                @Html.DisplayFor(p => p.ProductName, new { htmlAttributes = new { @class = "form-control", placeholder = "商品名稱" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.ProductColor, new { @class = "col-sm-2 col-form-label", style = "text-align:right" })
            <div class="col-sm-10">
                @Html.DisplayFor(p => p.ProductColor, new { htmlAttributes = new { @class = "form-control", placeholder = "商品分類" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.ProductSize, new { @class = "col-sm-2 col-form-label", style = "text-align:right" })
            <div class="col-sm-4">
                @Html.DisplayFor(p => p.ProductSize, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.ProductSize, new { @class = "col-sm-2 col-form-label", style = "text-align:right" })
            <div class="col-sm-4">
                @Html.DisplayFor(p => p.ProductSize, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.SupplierName, new { @class = "col-sm-2 col-form-label", style = "text-align:right" })
            <div class="col-sm-4">
                @Html.DisplayFor(p => p.SupplierName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.AddQTY, new { @class = "col-sm-2 col-form-label", style = "text-align:right; color:red" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.AddQTY, new { htmlAttributes = new { @class = "form-control", placeholder = "上架日期" } })
                @Html.ValidationMessageFor(p => p.AddQTY, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.StockQTY, new { @class = "col-sm-2 col-form-label", style = "text-align:right" })
            <div class="col-sm-10">
                @Html.DisplayFor(p => p.StockQTY, new { htmlAttributes = new { @class = "form-control", placeholder = "供應商" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.CartQTY, new { @class = "col-sm-2 col-form-label", style = "text-align:right" })
            <div class="col-sm-10">
                @Html.DisplayFor(p => p.CartQTY, new { htmlAttributes = new { @class = "form-control", placeholder = "單價" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.OrderQTY, new { @class = "col-sm-2 col-form-label", style = "text-align:right" })
            <div class="col-sm-10">
                @Html.DisplayFor(p => p.OrderQTY, new { htmlAttributes = new { @class = "form-control", placeholder = "單價" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(p => p.MinStock, new { @class = "col-sm-2 col-form-label", style = "text-align:right" })
            <div class="col-sm-10">
                @Html.DisplayFor(p => p.MinStock, new { htmlAttributes = new { @class = "form-control", placeholder = "單價" } })
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-4 col-sm-8">
                <input type="submit" value="存檔" class="btn btn-success" />
            </div>
        </div>
    }
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        @Html.ActionLink("返回", "StockList", "AddStock", new { area = "Backend" }, null)
    </div>
</div>



