@model FancyWeb.Areas.HomePage.ViewModels.HomePageData
@{
    /**/

    ViewBag.Title = "首頁";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Areas/HomePage/Plugin/slick/slick.css" rel="stylesheet" />
    <link href="~/Areas/HomePage/Style/all.css" rel="stylesheet" />
    <link href="~/Areas/HomePage/Plugin/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Areas/Management/Plugin/Semantic-UI-CSS-master/semantic.css" rel="stylesheet" />
    @*<link href="~/Areas/HomePage/Style/particles.css" rel="stylesheet" />*@
    @*<link href="~/Areas/Management/Plugin/Semantic-UI-CSS-master/semantic.css" rel="stylesheet" />*@
}
<body>
    <!--輪播-->
    <section id="st1">
        <div class="banner shadow">
            @for (int i = 1; i <= 6; i++)
            {
                <a class="" href="">
                    <div class="banner-img bg-cover" style="background-image: url('../../../../img/@i-.jpg');
"></div>
                </a>
            }
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row justify-content-center header_box">
                <div class="col-4 col-md-3 nav-box bg-cover" style="background-image:url(https://images.pexels.com/photos/1937394/pexels-photo-1937394.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)">
                    <a href="@Url.Action("Browse","Activity",new {area = "ProductDisplay"})?id=1">
                        <div class="atv">
                            顯瘦五公斤
                        </div>
                    </a>
                </div>
                <div class="col-4 col-md-3 nav-box bg-cover" style="background-image:url(https://images.pexels.com/photos/2397412/pexels-photo-2397412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
                    <a href="@Url.Action("Browse","Activity",new {area = "ProductDisplay"})?id=2">
                        <div class="atv">
                            清涼一下
                        </div>
                    </a>
                </div>
                <div class="col-4 col-md-3 nav-box bg-cover" style="background-image:url(https://images.pexels.com/photos/1144686/pexels-photo-1144686.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
                    <a href="@Url.Action("Browse","Activity",new {area = "ProductDisplay"})?id=3">
                        <div class="atv">
                            好康優惠
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!--中間section-->
    <section id="st2">
        <div class="container">
            <div class="st_title ">
                <h2 class="text-center"><span>熱門商品</span></h2>
            </div>
            <div class="st_content">
                <div class="products_items">
                    @foreach (var item in Model.Popular)
                    {
                        <div data-pid="@item.PID" class="card" style="width: 18rem;">
                            <div style="background-image:url(@Url.Action("ByteImage","Product",new { area="ProductDisplay"})/@item.PID)" class="imgbody bg-cover">
                                @if (Model.Favorstatus(item.PID, Request.Cookies["upid"] != null ? Request.Cookies["upid"].Value : "0"))
                                {
                                    <i class="fas fa-heart"></i>
                                }
                                else
                                {
                                    <i class="far fa-heart"></i>
                                }
                                <span class="newflag bg-danger"><i class="fas fa-fire-alt"></i>熱門</span>
                            </div>
                            <div class="card-body pca">
                                <p class="title">
                                    <a href="~/ProductDisplay/Product/GetProductDetail/@item.PID">
                                        @item.PName
                                    </a>
                                </p>
                                <p class="">@item.CompanyName</p>
                                <p class="">NT$ @item.UnitPrice</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </section>
    <section id="st3">
        <div class="container">
            <div class="st_title ">
                <h2 class="text-center"><span>最新商品</span></h2>
            </div>
            <div class="st_content">
                <div class="products_items">
                    @foreach (var item in Model.NEWs)
                    {
                        <div data-pid="@item.PID" class="card" style="width: 18rem;">
                            <div style="background-image:url(@Url.Action("ByteImage","Product",new { area="ProductDisplay"})/@item.PID)" class="imgbody bg-cover">
                                @if (Model.Favorstatus(item.PID, Request.Cookies["upid"] != null ? Request.Cookies["upid"].Value : "0"))
                                {
                                    <i class="fas fa-heart"></i>
                                }
                                else
                                {
                                    <i class="far fa-heart"></i>
                                }
                                <span class="newflag">NEW</span>
                            </div>
                            <div class="card-body pca">
                                <p class="title">
                                    <a href="~/ProductDisplay/Product/GetProductDetail/@item.PID">
                                        @item.PName
                                    </a>
                                </p>
                                <p class="">@item.CompanyName</p>
                                <p class="">NT$ @item.UnitPrice</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="st4" class="mb-0">
        <div class="container px-4">
            <div id="ramdombar" class="form-row px-2">
                <div class="col-md-8 px-0">
                    <div class="form-row mx-0 h-50">
                        <div class="col-md-6 px-0">
                            <div class="card text-white bgcover h-100" style="background-image:url(@Url.Action("ByteImage","Product",new { area="ProductDisplay"})/@Model.Ramdom[0].PID)">
                                <div class="card-body">
                                    <h4>@Model.Ramdom[0].PName</h4>
                                    <h5 class="card-title">@Model.Ramdom[0].CompanyName</h5>
                                    <p class="card-text">
                                        @Model.Ramdom[0].Comment
                                    </p>
                                    <div class="ui rating" data-max-rating="2">
                                    </div>
                                </div>
                                <div class="card-footer mx-1 text-muted text-center border-top-0">
                                    <a href="~/ProductDisplay/Product/GetProductDetail/@Model.Ramdom[0].PID" class="btn btn-outline-light">選擇商品</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 px-0">
                            <div class="card text-white bgcover h-100" style="background-image:url(@Url.Action("ByteImage","Product",new { area="ProductDisplay"})/@Model.Ramdom[1].PID)">
                                <div class="card-body">
                                    <h4>@Model.Ramdom[1].PName</h4>
                                    <h5 class="card-title">@Model.Ramdom[1].CompanyName</h5>
                                    <p class="card-text">
                                        @Model.Ramdom[1].Comment
                                    </p>

                                </div>
                                <div class="card-footer text-muted text-center border-top-0">
                                    <a href="~/ProductDisplay/Product/GetProductDetail/@Model.Ramdom[1].PID" class="btn btn-outline-light">選擇商品</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card text-white bgcover p-3 h-50" style="background-image:url(@Url.Action("ByteImage","Product",new { area="ProductDisplay"})/@Model.Ramdom[2].PID)">
                        <div class="card-body">
                            <h4>@Model.Ramdom[2].PName</h4>
                            <h5 class="card-title">@Model.Ramdom[2].CompanyName</h5>
                            <p class="card-text">
                                @Model.Ramdom[2].Comment
                            </p>
                        </div>
                        <div class="card-footer text-muted text-center border-top-0">
                            <a href="~/ProductDisplay/Product/GetProductDetail/@Model.Ramdom[2].PID" class="btn btn-outline-light">選擇商品</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-0">
                    <div>
                        <div class="form-row mx-0 h-50">
                            <div class="col-md-6 px-0">
                                <div class="card h-100 text-white bgcover p-3" style="background-image:url(@Url.Action("ByteImage","Product",new { area="ProductDisplay"})/@Model.Ramdom[3].PID)">
                                    <div class="card-body">
                                        <h4>@Model.Ramdom[3].PName</h4>
                                        <h5 class="card-title">@Model.Ramdom[3].CompanyName</h5>
                                        <p class="card-text">
                                            @Model.Ramdom[3].Comment
                                        </p>
                                    </div>
                                    <div class="card-footer text-muted text-center border-top-0">
                                        <a href="~/ProductDisplay/Product/GetProductDetail/@Model.Ramdom[3].PID" class="btn btn-outline-light">選擇商品</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 px-0">
                                <div class="card h-100 text-white bgcover p-3" style="background-image:url(@Url.Action("ByteImage","Product",new { area="ProductDisplay"})/@Model.Ramdom[4].PID)">
                                    <div class="card-body">
                                        <h4>@Model.Ramdom[4].PName</h4>
                                        <h5 class="card-title">@Model.Ramdom[4].CompanyName</h5>
                                        <p class="card-text">
                                            @Model.Ramdom[4].Comment
                                        </p>
                                    </div>
                                    <div class="card-footer text-muted text-center border-top-0">
                                        <a href="~/ProductDisplay/Product/GetProductDetail/@Model.Ramdom[4].PID" class="btn btn-outline-light">選擇商品</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white bgcover h-50 p-3" style="background-image:url(@Url.Action("ByteImage","Product",new { area="ProductDisplay"})/@Model.Ramdom[5].PID)">
                            <div class="card-body">
                                <h4>@Model.Ramdom[5].PName</h4>
                                <h5 class="card-title">@Model.Ramdom[5].CompanyName</h5>
                                <p class="card-text">
                                    @Model.Ramdom[5].Comment
                                </p>
                            </div>
                            <div class="card-footer text-muted text-center border-top-0">
                                <a href="~/ProductDisplay/Product/GetProductDetail/@Model.Ramdom[5].PID" class="btn btn-outline-light">選擇商品</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="st5" class="px-5 py-2">
        <div class="title d-flex justify-content-center align-items-center">
            <a class="d-flex align-items-center" href="https://www.instagram.com/fancydayevery/">
                <i class="fab fa-instagram fa-2x"></i>
                <span class="font-weight-bold ml-2">Fancy</span>
            </a>
        </div>
        <div class="slider-body">
            @for (int i = 0; i < 20; i++)
            {
                <div class="card">
                    <div class="ig-img bg-cover" style="height:200px; background-image:url(https://scontent.cdninstagram.com/vp/d8e7b9ff5098c48003e54bf9d92bc2b0/5DFBB4E5/t51.2885-15/sh0.08/e35/s640x640/67934319_470253220488503_5740013207001792743_n.jpg?_nc_ht=scontent.cdninstagram.com)"></div>
                </div>
            }
        </div>
        <div class="footer text-center text-white font-weight-bold my-0">
            <i class="fas fa-hashtag mr-3"></i>fancydayevery
        </div>
    </section>
    <div class="favBage d-flex justify-content-center align-items-center text-white font-weight-bold">
        <i class="far fa-check-circle fa-2x"></i><span>已加入收藏</span>
    </div>
    <div class="instagram-body">
        <div class="instagram-box">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <img src="https://scontent.cdninstagram.com/vp/d8e7b9ff5098c48003e54bf9d92bc2b0/5DFBB4E5/t51.2885-15/sh0.08/e35/s640x640/67934319_470253220488503_5740013207001792743_n.jpg?_nc_ht=scontent.cdninstagram.com" class="card-img" alt="...">
                </div>
                <div class="col-md-4">
                    <div class="card-body h-100">
                        <div class="ig-box-head h-25 d-flex align-items-center justify-content-center flex-column border-bottom">
                            <p>
                                <a href="#" target="_blank">
                                    <i class="fas fa-tags"></i>
                                    韓國直條紋休閒長版襯衫
                                </a>
                            </p>
                            <p>
                                <i class="fas fa-tags"></i>
                                韓國直條紋休閒長版襯衫
                            </p>
                            <p>
                                <i class="fas fa-tags"></i>
                                韓國直條紋休閒長版襯衫
                            </p>
                        </div>
                        <div class="ui comments h-50 my-0 overflow-auto p-2">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://scontent.cdninstagram.com/vp/51707d41bdcf5394840f3e6c8d475e7b/5DF48901/t51.2885-19/s150x150/69565601_510842453005420_7788848287066357760_n.jpg?_nc_ht=scontent.cdninstagram.com">
                                </a>
                                <div class="content">
                                    <a class="author">Elliot Fu</a>
                                    <div class="metadata">
                                        <span class="date">2019/08/30</span>
                                    </div>
                                    <div class="text">
                                        <p>This has been very useful for my research. Thanks as well!</p>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="https://scontent.cdninstagram.com/vp/51707d41bdcf5394840f3e6c8d475e7b/5DF48901/t51.2885-19/s150x150/69565601_510842453005420_7788848287066357760_n.jpg?_nc_ht=scontent.cdninstagram.com">
                                        </a>
                                        <div class="content">
                                            <a class="author">Jenny Hess</a>
                                            <div class="metadata">
                                                <span class="date">Just now</span>
                                            </div>
                                            <div class="text">
                                                Elliot you are always so right :)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="https://scontent.cdninstagram.com/vp/51707d41bdcf5394840f3e6c8d475e7b/5DF48901/t51.2885-19/s150x150/69565601_510842453005420_7788848287066357760_n.jpg?_nc_ht=scontent.cdninstagram.com">
                                        </a>
                                        <div class="content">
                                            <a class="author">Jenny Hess</a>
                                            <div class="metadata">
                                                <span class="date">Just now</span>
                                            </div>
                                            <div class="text">
                                                Elliot you are always so right :)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="https://scontent.cdninstagram.com/vp/51707d41bdcf5394840f3e6c8d475e7b/5DF48901/t51.2885-19/s150x150/69565601_510842453005420_7788848287066357760_n.jpg?_nc_ht=scontent.cdninstagram.com">
                                        </a>
                                        <div class="content">
                                            <a class="author">Jenny Hess</a>
                                            <div class="metadata">
                                                <span class="date">Just now</span>
                                            </div>
                                            <div class="text">
                                                Elliot you are always so right :)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="https://scontent.cdninstagram.com/vp/51707d41bdcf5394840f3e6c8d475e7b/5DF48901/t51.2885-19/s150x150/69565601_510842453005420_7788848287066357760_n.jpg?_nc_ht=scontent.cdninstagram.com">
                                        </a>
                                        <div class="content">
                                            <a class="author">Jenny Hess</a>
                                            <div class="metadata">
                                                <span class="date">Just now</span>
                                            </div>
                                            <div class="text">
                                                Elliot you are always so right :)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="h-25 border-top p-3">
                            <i class="fas fa-heart fa-2x"></i>
                            <i class="far fa-comment fa-2x ml-3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts{
    <script src="~/Areas/HomePage/Plugin/slick/jquery-migrate-1.2.1.min.js"></script>
    @*<script src="~/Areas/HomePage/Plugin/slick/jquery-1.11.0.min.js"></script>*@
    <script src="~/Areas/HomePage/Plugin/slick/slick.js"></script>
    <script src="~/Areas/HomePage/Scripts/all.js"></script>
    <script src="~/Areas/HomePage/Scripts/InstagramApI.js"></script>
    @*<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>*@
    @*<script src="~/Areas/Management/Plugin/Semantic-UI-CSS-master/semantic.js"></script>*@
    <script>
        window.sr = ScrollReveal({
            distance: '60px',
            viewFactor: 0.3
        });
        sr.reveal('.header_box', {
            delay: 200,
            scale: 0
        });
        sr.reveal('#st2', {
            delay: 100,
            origin: 'left'
        });
        sr.reveal('#st3', {
            delay: 100,
            origin: 'right'
        });
        sr.reveal('#ramdombar .col-md-6:nth-child(even)', {
            delay: 200,
            scale: 0
        })
        sr.reveal('#ramdombar .col-md-6:nth-child(odd)', {
            delay: 300,
            scale: 0
        })
        sr.reveal('#ramdombar .card', {
            delay: 200,
            scale: 0
        })
    </script>
    <script>
        $(document).on("click", ".fa-heart", function () {
            let hb = $(this)
            let pdid = $(this).parents(".card").data("pid");
            $.post("@Url.Action("FavoriteADDSub", "Home")", { pid: pdid }, function (data) {
                switch (data) {
                    case "Add":
                        Add(hb);
                       break;
                    case "Sub":
                        Sub(hb);
                       break;
                    default:

                        break;
                }
            });
        });
        function Add(hb) {
            $(hb).toggleClass("far").toggleClass("fas").addClass("active")
            let fb = $(".favBage");
            fb.addClass("active");
            fb.children("span").text("已加入收藏")
            setTimeout(function () {
                fb.removeClass("active");
            },1000);
        }
        function Sub(hb) {
            $(hb).toggleClass("far").toggleClass("fas").removeClass("active")
            let fb = $(".favBage");
            fb.addClass("active");
            fb.children("span").text("已移除")
            setTimeout(function () {
                fb.removeClass("active");
            }, 1000);
        }

    </script>

    <script>
        //instagram 開啟方塊
        $(".slider-body").on("click", ".card", function () {
            console.log("hi");
            $(".instagram-body").toggleClass("active");
        });
        $(".instagram-body").click(function (e) {
            if (e.target === e.currentTarget) {//防止子元素影響到父元素點擊事件
                $(this).toggleClass("active");
            }
        });
    </script>
}
