@model FancyWeb.Models.OrderHeader
@{
    ViewBag.Title = "Fancy";
}
@section scripts{
    <style>

        * {
            font-family: "微軟正黑體"
        }

        .cbtn {
            color: white !important;
            vertical-align: middle;
        }

            .cbtn:hover {
                color: crimson !important;
            }

        .process {
            border: 5px solid wheat;
            position: relative;
            border-radius: 50%;
            width: 8rem;
            height: 8rem;
            background-color: rgb(217, 207, 191);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .processimg {
            position: absolute;
            font-size: 4.5rem;
            color: rgb(88, 89, 91);
            top: 23%;
        }

            .processimg.active {
                color: rgb(209, 0, 36);
            }

                .processimg.active.done {
                    color: rgb(88, 89, 91);
                }

        .processtext {
            position: absolute;
            font-family: "微軟正黑體";
            font-size: 1.75rem;
            font-weight: bold;
            top: 120%;
            left: -8%;
            background-color: rgb(217, 207, 191);
            border-radius: 1rem;
            width: 115%;
            color: rgb(88, 89, 91);
        }

            .processtext.active {
                color: rgb(209, 0, 36);
            }

                .processtext.active.done {
                    color: rgb(88, 89, 91);
                }

        .line {
            position: absolute;
            background-color: rgba(88, 89, 91,0.7);
            top: 3rem;
            left: 0;
            width: 100%;
            height: 2rem;
            border-radius: 1rem;
        }

        .inline {
            position: absolute;
            background-color: wheat;
            top: 3.65rem;
            left: 0;
            height: 0.75rem;
            width: 100%;
            transition: .5s;
            border-radius: 1rem;
        }

        .tle1 {
            background-color: rgb(88, 89, 91);
            line-height: 190%;
            text-align-last: center;
            margin-bottom: 0;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            color: white;
        }
    </style>
}
<div class="">
    <div class="d-inline-flex justify-content-sm-between w-100 position-relative" style="height:15rem">
        <div class="line"></div>
        <div class="inline"></div>
        <div class="process">
            <i class="fa fa-shopping-cart processimg active done" id="process1"></i>
            <p class="processtext active done text-center px-1">購物清單</p>
        </div>
        <div class="process">
            <i class="fa fa-truck processimg  active done" id="process2"></i>
            <p class="processtext active done text-center px-1">付款方式</p>
        </div>
        <div class="process">
            <i class="fa fa-pencil-square processimg active done" id="process3"></i>
            <p class="processtext  active done text-center px-1">填寫資料</p>
        </div>
        <div class="process">
            <i class="fa fa-handshake-o processimg active" id="process4"></i>
            <p class="processtext active text-center px-1">完成訂購</p>
        </div>
    </div>
    <div class="  justify-content-center">
        <h2 class="text-center my-md-3" style="color:red">訂單已送出，訂購完成</h2>
        <h3 class="text-center tle1">訂單資料</h3>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>訂單編號    :</td>
                    <td>@Model.OrderNum</td>
                </tr>
                <tr>
                    <td>訂購人姓名    :</td>
                    <td>@Model.ReceipterName</td>
                </tr>
                <tr>
                    <td>訂單成立時間    :</td>
                    <td>@Model.OrderDate@*.ToString("yyyy/MM/dd")*@</td>
                </tr>
                <tr>
                    <td>訂單狀態    :</td>
                    <td>@Model.OrderStatusList.OrderStatusName</td>
                </tr>
                <tr>
                    <td>付款方式    :</td>
                    <td>@Model.PayMethod.PayMethodName</td>
                </tr>
                <tr>
                    <td>訂單總金額    :</td>
                    <td>@Model.OrderAmount.ToString("C0")</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <h3 class="text-center tle1">訂單明細</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>商品名稱    :</th>
                    <th>商品顏色    :</th>
                    <th>商品尺寸    :</th>
                    <th>商品數量    :</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in ViewBag.details)
                {
                    <tr>
                        <td>@detail.Product.ProductName</td>
                        <td>@detail.ProductColor.Color.ColorName</td>
                        <td>@detail.ProductSize.Size.SizeName</td>
                        <td>@detail.OrderQTY</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="text-md-center">
        <a class="btn btn-dark m-md-3 cbtn" href="@Url.Action("Browse","Product",new {area="ProductDisplay", id=1})" id="last1">繼續購物</a>
    </div>
</div>